@model Parent

<div class="modal fade" id="editParent" data-keyboard="true" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header alert-warning">
                <h4 class="modal-title" id="editParentLabel">Edit Parent</h4>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="display:none;">Id</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.Children.Count; i++)
                                {
                                    <tr>
                                        <td style="display:none;">
                                            <input type="hidden" asp-for="Children[i].Id" class="form-control">
                                        </td>
                                        <td>
                                            <input asp-for="Children[i].Name" class="form-control" />
                                            <span asp-validation-for="Children[i].Name"></span>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal" data-controller="Parent" data-action="Edit">Save changes</button>
            </div>
        </div>
    </div>
</div>