@model Parent

<div class="modal fade" id="editParent" data-keyboard="true" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header alert-warning">
                <h4 class="modal-title" id="editParentLabel">Edit Parent</h4>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div style="height:250px; overflow-y:auto;">
                        <table id="ChildTable" class="table">
                            <thead>
                                <tr>
                                    <th>ChildId</th>
                                   
                                    <th>Child Name</th>
                                    <th style="width:75px;">
                                        <button id="ButtonAddChild" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem('ChildTable')"> Ekle </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.Children.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="text" asp-for="@Model.Children[i].Id" class="form-control">
                                        </td>
                                      
                                        <td>
                                            <input asp-for="@Model.Children[i].Name" class="form-control" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger" onclick="RemoveItem(this)">Sil</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal" data-controller="Parent" data-action="Edit">Save changes</button>
            </div>
        </div>
    </div>
</div>